@page "/myFolders"

@inject ApplicationDbContext Context
@inject IJSRuntime JS

<h1>Übersicht</h1>

<div class="mb-4">
    @if (IsLoading)
    {
        <div>Lädt...</div>
    }
    else if (Folders is not null && Folders.Count > 0)
    {
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="fw-bold">
                                <td>Name</td>
                                <td>Beschreibung</td>
                                <td class="text-center">Trainingspläne</td>
                                <td class="text-end pe-4">Funktionen</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var folder in Folders)
                            {
                                <tr @key="folder.Id">
                                    <td>
                                        <i class="bi bi-folder-fill"></i>
                                        @folder.Name
                                        </td>
                                    <td>@folder.Description</td>
                                    <td class="text-center">@FolderPlans?.Count(fp => fp.FolderId == folder.Id)</td>
                                    <td class="text-end">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <a class="btn btn-primary" href="/myplans/@folder.Id">
                                                <i class="bi bi-clipboard2-check-fill"></i>
                                            </a>
                                            <button type="button" class="btn btn-warning" @onclick="() => Folder = folder" data-bs-toggle="modal" data-bs-target="#create-edit-folder-modal">
                                                <i class="bi bi-pencil-fill"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger" @onclick="() => Folder = folder" data-bs-toggle="modal" data-bs-target="#delete-modal">
                                                <i class="bi bi-trash3-fill"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <h3>Keine Ordner vorhanden!</h3>
            <p class="fs-5">Sieht so als hätten Sie noch keinen Ordner erstellt. Klicken sie auf die Schaltfläche "Ordner Hinzufügen" um einen neuen Ordner zu erstellen</p>
        </div>
    }
</div>

<div>
    <button class="btn btn-lg btn-success shadow" data-bs-toggle="modal" data-bs-target="#create-edit-folder-modal" @onclick="() => Folder = new()">
        <i class="bi bi-plus-lg"></i>
        <i class="bi bi-folder-fill me-1"></i>
        Ordner hinzufügen
    </button>
</div>

<!-- Create-Edit-Folder-Modal -->
<div class="modal fade" id="create-edit-folder-modal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold fs-5">Ordner @(Folder.Id == 0 ? "hinzufügen" : "bearbeiten")</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <EditForm Model="Folder" OnValidSubmit="CreateOrEditFolderAsync">
                            <ValidationSummary />
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <InputText @bind-Value="Folder.Name" class="form-control" placeholder="Neuer Ordner" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Beschreibung <span class="text-secondary">(optional)</span></label>
                                <InputTextArea @bind-Value="Folder.Description" class="form-control" placeholder="Mein Ordner" />
                            </div>

                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-@(Folder.Id == 0 ? "success" : "warning") w-100">
                                        @(Folder.Id == 0 ? "Erstellen" : "Bearbeiten")
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal"> Abbrechen </button>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete-Modal -->
<div class="modal fade" id="delete-modal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold fs-5">Ordner @Folder.Name löschen?</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-danger w-100" @onclick="DeleteFolderAsync" data-bs-dismiss="modal">Löschen</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Toast-Messages -->
<Toasts class="p-3" Messages="ToastMessages" AutoHide="true" StackLength="3" Placement="ToastsPlacement.BottomCenter" />

@code {
    private List<Folder>? Folders { get; set; }
    private Folder Folder { get; set; } = new();

    private List<Plan>? Plans { get; set; }
    private Plan Plan { get; set; } = new();

    private List<FolderPlan>? FolderPlans { get; set; }

    private bool IsLoading = true;

    #region Lifecycle Methods
    protected override async Task OnInitializedAsync()
    {
        // Load folders from database
        Folders = await Context.Folders.ToListAsync();
        FolderPlans = await Context.FolderPlans.ToListAsync();

        // Show loading message to avoid flickering
        IsLoading = false;
    }
    #endregion Lifecycle Methods

    #region CRUD operations for Folders
    private async Task CreateOrEditFolderAsync()
    {
        // Check if folder already exists
        if (Folders?.Where(f => f.Id == Folder.Id).Count() > 0)
        {
            // Update folder in database
            Context.Folders.Update(Folder);
        }
        else
        {
            // Add folder to database
            Context.Folders.Add(Folder);
        }

        // Save changes
        await Context.SaveChangesAsync();
        

        // Reresh folder list and clear form
        Folders = await Context.Folders.ToListAsync();

        // Close modal via JavaScript
        await JS.InvokeVoidAsync("closeModal", "create-edit-folder-modal");
        
        Folder = new();

        ShowMessage(ToastType.Success, "Ordner erstellt", "");
    }

    private async Task DeleteFolderAsync()
    {
        if(Folder is not null)
        {
            // Delete folder in database
            Context.Folders.Remove(Folder);
            await Context.SaveChangesAsync();
        }

        // Reresh folder list
        Folders = await Context.Folders.ToListAsync();
        Folder = new();

        ShowMessage(ToastType.Danger, "Ordner gelöscht", "");
    }
    #endregion CRUD operations for Folders


    List<ToastMessage> ToastMessages = new List<ToastMessage>();
    private void ShowMessage(ToastType toastType, string title, string message) => ToastMessages.Add(CreateToastMessage(toastType, title, message));
    private ToastMessage CreateToastMessage(ToastType toastType, string title, string message) => new ToastMessage
    {
        Type = toastType,
        Title = title,
        HelpText = $"{DateTime.Now:HH:mm}",
        Message = message,
    };
}
